@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}
.statues-bar {
  display: flex;
  justify-content: center;
}
.statues-bar__column {
  width: 33%;
}
.statues-bar__column:first-child span {
  margin-right: 5px;
}
.statues-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.statues-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.statues-bar__column .fa-battery-full {
  margin: 0 5px;
}
